#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.boxContent {
  display: flex;
  width: 100%;
  position: relative;
  top: -950px;
  left: 160px;
}

.boxContent1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  top: -1000px;
  left: 200px;
}

.boxContent2 {
  display: flex;
  flex-direction: column;
  width: 70%;
  gap:50px
}

.boxContent3 {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 263px;
}

.box1 {
  background-color: #FF0000;
  color: white;
}
.box2{
  background: #282D30;
  box-shadow: 0px 2px 4px 0px #00000005;
  color: white;

  font-family: Roboto;
font-size: 12px;
font-weight: 500;
line-height: 24px;
text-align: center;

}

.boxContent4 {
  width: 30%;
}

.userContent {
  display: flex;
  gap: 20px;

}

.userName {
  color: red;
}

.title p {
  width: 147px;
  height: 48px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  padding-left: 30px;

}
.recharts-legend-wrapper{
  top: -60px !important;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}